* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.MuiFormLabel-root {
  font-size: 1rem !important;
}

body {
  color: "#000000" !important;
  background-color: #edf0f5;
}

body,
html {
  font-family: "Poppins", sans-serif;
}
